<my-header></my-header>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
<link rel="stylesheet" href="bower_components/flexslider/flexslider.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="center">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				 <!-- <img ng-src="images/prod{{products.id}}.jpg"> -->
				 <flex-slider slide="s in products.images track by $index" animation="slide" control-nav="thumbnails" >
					<li data-thumb="{{s.img}}">
						<img  ng-src="{{s.img}}">
					</li>
				</flex-slider>
				</div>
				<div class="col-md-8">
					<h3>{{products.title}}</h3>
					<p>{{products.price | currency}}</p>
					<select>
						<option ng-repeat="pizza in pizzas">{{pizza}}</option>
					</select><br>
					<br>
					<md-button class="md-raised" ng-click="buyPizza()"> Buy Now</md-button>
					<div>
						<span ng-click="addToWishlist()" class="fa fa-heart-o" style="padding: 10px; margin-top: 20px;"></span><span>Add to wishlist</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere explicabo, ut mollitia blanditiis, aperiam nostrum ex fugit nam ipsa voluptatem dignissimos labore sequi beatae sunt alias aliquam nisi corporis quam possimus ducimus quasi iste soluta officiis laudantium. Dolorum soluta neque dignissimos optio asperiores recusandae autem laudantium eveniet porro accusantium, in!</p>
					</div>
				</div>
			</div>	
		</div>

		<div class="container">
			<div class="row">
				<h3>Other pizzas that you might like</h3>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="features">
						<h3>Product Details</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos earum natus eveniet voluptatum, ut hic, praesentium dolore minima perferendis omnis sequi ad. Consequatur porro sint unde amet, veritatis numquam iure officia dolores deserunt eligendi non laborum nesciunt temporibus minus quasi ratione molestias eius quibusdam. Deleniti quae fugit, ea assumenda ut?</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="features">
						<h3>Product Reviews</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos earum natus eveniet voluptatum, ut hic, praesentium dolore minima perferendis omnis sequi ad. Consequatur porro sint unde amet, veritatis numquam iure officia dolores deserunt eligendi non laborum nesciunt temporibus minus quasi ratione molestias eius quibusdam. Deleniti quae fugit, ea assumenda ut?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		
			
<my-footer></my-footer>