<div class="pager">
<div class="limiter visible-desktop">
    <label>Show</label>
    <select ng-model="itemsPerPage">
        <option value ="3" selected="selected">
            9                </option>
        <option value ="5">
            15                </option>
        <option value ="10">
            30                </option>
    </select> per page
</div>
<ul class="dc_pagination dc_paginationA dc_paginationA06">
    <li><a href="#/products" class="previous" ng-click="prevPage()"><< Prev</a></li>
    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
        <a href="#/products">{{n+1}}</a>
    </li>
    <li><a href="#/products" class="previous" ng-click="nextPage()">Next >></a></li>
</ul>
    <div class="clear"></div>
</div>